<!DOCTYPE html>
<html lang="lv-LV">
  <head>
    <title>Start(it)</title>
    <meta charset="utf8">
    <link
      rel="stylesheet"
      href="../css/bootstrap.min.css"
      media="screen"
      title="no title"
      charset="utf-8"
    />
    <link
      rel="stylesheet"
      href="../css/custom.css"
      media="screen"
      title="no title"
      charset="utf-8"
    />
    <link rel="icon" href="../images\Start(IT)SmallLogo.png" />
  </head>

  <body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#navbar"
            aria-expanded="false"
            aria-controls="navbar"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../index.html"
            ><img src="../images\Start(IT)Logo.png" alt="Start(IT)"
          /></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active">
              <a href="..\index.html"
                >Sākums<span class="sr-only">(current)</span></a
              >
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#"
                >Pirmā diena <span class="caret"></span
              ></a>
              <ul class="dropdown-menu">
                <li><a href="../views/Git.html">GIT</a></li>
                <li><a href="../views/VSCode.html">VSCode</a></li>
                <li><a href="../views/AgileScrum.html">Agile/Scrum</a></li>
                <li><a href="../views/HtmlTags.html">HTML tags</a></li>
                <li><a href="../views/CssSelektori.html">CSS Selektori</a></li>
              </ul>
            </li>
            <li><a href="../views/PlainJavaScript.html">Plain JavaScript</a></li>
            <li><a href="../views/JavaScriptDom.html">JavaScript + DOM</a></li>
            <li><a href="../views/MacibuMetodologija.html">Mācību Metodoloģija</a></li>
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
    </nav>
    
    
              <div id="wrap">
                    <div id="main">
                            <div class="container theme-showcase lead text-center" role="main">
                                    <h1 class="cover-heading text-center">
                                      CssSelektori
                                    </h1>
                                    <h2 class = text-center text color = red>Viss par selektoriem</h2>
                                    <ul class="list-group">
                                        <li class="list-group-item active">Viens</li>
                                        <li class="list-group-item">Divi</li>
                                        <li class="list-group-item">Trīs</li>
                                      
                                      </ul>
                                  </div></div>
                </div>
            </div>
            <div class="row">
  <div class="col-4">
    <div class="list-group" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Home</a>
      <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Profile</a>
      <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Messages</a>
      <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Settings</a>
    </div>
  </div>
  <div class="col-8">
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">...</div>
      <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">...</div>
      <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
      <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
    </div>
  </div>
</div>
  </body>

    
  <footer class="mastfoot mt-auto container-fluid text-center bg-lightgray">
    <div class="copyrights">
      <p>
        Start(IT) © 2019
        <br />
        <span>Izstrādātājs: Komanda xxx</span>
        <br />
        <span>Īpašnieks: Start(IT)</span>
        <br />
        <span>VEF Kultūras pils</span>
      </p>
    </div>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script type="text/javascript" src="../javaScript/bootstrap.min.js"></script>
  <script type="text/javascript" src="../javaScript/custom.js"></script>
</html>
